Welcome to the Pizza Analysis Notebook, in this notebook we will analyze the order details dataset and analyze user pizza orders based on their various attributes and frequency. The datasets can be found [Here](https://www.kaggle.com/datasets/umairhayat/pizza-data-set-order-detail/data?select=pizzas.csv) thanks to user [Umair Hayat](https://www.kaggle.com/umairhayat) on Kaggle.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

order_details = pd.read_csv('Pizza-Data/order_details.csv')
orders = pd.read_csv('Pizza-Data/orders.csv')
pizza_types = pd.read_csv('Pizza-Data/pizza_types.csv', encoding='ISO-8859-1')
pizzas = pd.read_csv('Pizza-Data/pizzas.csv')

The first few steps are just importing the libraries, we need and then reading the files we will use, we have done this using pandas and the read csv method since all they all are csv files. Next we will just look at the first few rows of each dataset to get a small sense of what they could bring us and what they hold.

In [2]:
order_details.head()

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1

In [3]:
orders.head()

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30

These two datasets as we can see track the pizzas per order and the date time they were made respectively, the order id seems to be a common key between the two which can be used to combine the datasets into one compact set.

In [4]:
pizza_types.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [5]:
pizzas.head()

     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

Pizzas and Pizza Types both document the various types of pizza you can order and the prices per size respectively, they can be used to determine average customer spending per size and even per category or pizza.

In [6]:
modified_orders = order_details.drop('order_details_id', axis=1)
customer_orders = modified_orders.merge(orders,on='order_id')
customer_orders.head()

   order_id       pizza_id  quantity        date      time
0         1     hawaiian_m         1  2015-01-01  11:38:36
1         2  classic_dlx_m         1  2015-01-01  11:57:40
2         2  five_cheese_l         1  2015-01-01  11:57:40
3         2    ital_supr_l         1  2015-01-01  11:57:40
4         2     mexicana_m         1  2015-01-01  11:57:40

Using pandas we have merged order_details and orders, with this we can now access the full data of a users data without having to go through each one, along with this we have dropped order details id since we will not be needing it for our purposes.